<div class="container-fluid">
  <p>{{accountId}}</p>
  <form [formGroup]="accountForm" (submit)="onSubmit()">
    <div>
      <app-input-field
        placeholder="Enter the firm name"
        formControlName="firmName"
        label="Firm Name"
        [error]="getFormControlErrors('firmName')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter an account name"
        formControlName="accountName"
        label="Account Name"
        [error]="getFormControlErrors('accountName')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter the account type"
        formControlName="accountType"
        label="Account Type"
        [error]="getFormControlErrors('accountType')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter the original balance"
        formControlName="originalBalance"
        label="Original Balance"
        [error]="getFormControlErrors('originalBalance')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter the current balance"
        formControlName="currentBalance"
        label="Current Balance"
        [error]="getFormControlErrors('currentBalance')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter the interest rate"
        formControlName="interestRate"
        label="Interest Rate"
        [error]="getFormControlErrors('interestRate')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter your credit limit"
        formControlName="creditLimit"
        label="Credit Limit"
        [error]="getFormControlErrors('creditLimit')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter your loan term"
        formControlName="loanTerm"
        label="Loan Term"
        [error]="getFormControlErrors('loanTerm')">
      </app-input-field>
    </div>
    <div>
      <app-input-field
        placeholder="Enter your loan origination date"
        formControlName="loanOriginationDate"
        label="Loan Origination Date"
        [error]="getFormControlErrors('loanOriginationDate')">
      </app-input-field>
    </div>
    <div>
      <app-button-rectangle
        [disabled]="!accountForm.valid"
        text="Submit"
        [submit]="true"
        color="primary">
      </app-button-rectangle>
    </div>
  </form>
</div>
