<form [formGroup]="signupForm" (submit)="onSubmit()">
  <div>
    <app-input-field
      placeholder="Enter a username"
      formControlName="username"
      label="User Name"
      [error]="getFormControlErrors('username')">
    </app-input-field>
  </div>
  <div>
    <app-input-field
      type="password"
      placeholder="Enter a password"
      formControlName="password"
      label="Password"
      [error]="getFormControlErrors('password')">
    </app-input-field>
  </div>
  <div>
    <app-input-field
      type="password"
      placeholder="Confirm a password"
      formControlName="confirmPassword"
      label="Confirm Password"
      [error]="getFormControlErrors('confirmPassword')">
    </app-input-field>
  </div>
  <div class="mb-3">
    <p class="form-text text-danger" *ngIf="!passwordsMatch()">Passwords do not match!</p>
    <app-button-rectangle
      [disabled]="!signupForm.valid"
      text="Signup"
      [submit]="true"
      color="primary">
    </app-button-rectangle>
  </div>
</form>
