<form>
  <div>
    <label for="username">User Name</label>
    <app-input-field
      id="username"
      placeholder="Enter a username">
    </app-input-field>
    <label for="password">Password</label>
    <app-input-field
      id="password"
      type="password"
      placeholder="Enter a password">
    </app-input-field>
    <label for="confirmPassword">Confirm Password</label>
    <app-input-field
      id="confirmPassword"
      type="password"
      placeholder="Confirm a password">
    </app-input-field>
    <app-button text="Signup"></app-button>
  </div>
</form>
