<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">McHA</span>
  <span class="spacer"></span>
  <button mat-flat-button
      color="primary"
      [routerLink]="['/']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLinkActive]="['mat-accent']">
    {{ title }}
  </button>
  <ng-container *ngIf="isLoggedIn">
    <button mat-flat-button
        color="primary"
        [routerLink]="['/overview']"
        [routerLinkActive]="['mat-accent']">
      Overview
    </button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button mat-flat-button
        color="primary"
        [matMenuTriggerFor]="menu">
      Actions
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        (click)="onAddAccount()">
        Add Account
      </button>
      <button mat-menu-item
          [routerLink]="['/add-transaction']"
          [routerLinkActive]="['mat-accent']">
        Add Transaction
      </button>
    </mat-menu>
  </ng-container>
  <span class="spacer"></span>
  <ng-container class="nav-item" *ngIf="!isLoggedIn">
    <button mat-flat-button
        color="primary"
        [routerLink]="['/login']"
        [routerLinkActive]="['mat-accent']">
      Login
    </button>
  </ng-container>
  <ng-container class="nav-item" *ngIf="isLoggedIn">
    <button mat-flat-button
        color="primary"
        (click)="onLogout()">
      Logout
    </button>
  </ng-container>
  <ng-container class="nav-item" *ngIf="!isLoggedIn">
    <button mat-flat-button
        color="primary"
        [routerLink]="['/signup']"
        [routerLinkActive]="['mat-accent']">
      Signup
    </button>
  </ng-container>
</mat-toolbar>
