<header class="main-header">
  <div>
      <button class="toggle-button" (click)="onToggleHamburgerMenu()">
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
        <span class="toggle-button__bar"></span>
      </button>
  </div>
  <nav class="main-nav" [ngClass]="{ 'mobile-nav-open': isHamburgerMenuOpen }">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onHome()" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="main-nav__item" *ngIf="isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onOverview()"  routerLinkActive="router-link-active">Overview</a>
      </li>
      <li class="main-nav__item" *ngIf="isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onAddAccount()" routerLinkActive="router-link-active">Add Account</a>
      </li>
      <li class="main-nav__item" *ngIf="isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onAddTransaction()" routerLinkActive="router-link-active">Add Transaction</a>
      </li>
      <li class="navbar-list__item" *ngIf="!isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onLogin()" routerLinkActive="router-link-active">Login</a>
      </li>
      <li class="main-nav__item" *ngIf="isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onLogout()">Logout</a>
      </li>
      <li class="main-nav__item" *ngIf="!isLoggedIn">
        <a class="main-nav__link" href="javascript:void(0)" (click)="onSignup()" routerLinkActive="router-link-active">Signup</a>
      </li>
    </ul>
  </nav>
</header>
