<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div>
    <app-input-field
      placeholder="Enter your username"
      formControlName="username"
      label="User Name"
      [error]="getFormControlErrors('username')">
    </app-input-field>
  </div>
  <div>
    <app-input-field
      type="password"
      placeholder="Enter your password"
      formControlName="password"
      label="Password"
      [error]="getFormControlErrors('password')">
    </app-input-field>
  </div>
  <div class="mb-3">
    <app-button
      [disabled]="!loginForm.valid"
      text="Login"
      [submit]="true">
    </app-button>
  </div>
</form>
