<form [formGroup]="loginForm" (submit)="onSubmit()">
  <app-input-field
    id="username"
    placeholder="Enter your username"
    formControlName="username"
    label="User Name"
    [error]="getFormControlErrors('username')">
  </app-input-field>
  <app-input-field
    id="password"
    type="password"
    placeholder="Enter your password"
    formControlName="password"
    label="Password"
    [error]="getFormControlErrors('password')">
  </app-input-field>
  <div class="mb-3">
    <app-button
      [disabled]="!loginForm.valid"
      text="Login"
      [submit]="true">
    </app-button>
  </div>
</form>
