<form [formGroup]="transactionForm" (submit)="onSubmit()">
  <div>
    <label for="date">Date</label>
    <app-input-field
      id="date"
      placeholder="Enter the date"
      formControlName="date"
      [error]="getFormControlErrors('date')">
    </app-input-field>
    <label for="accountName">Account Name</label>
    <app-input-field
      id="accountName"
      placeholder="Enter an account name"
      formControlName="accountName"
      [error]="getFormControlErrors('accountName')">
    </app-input-field>
    <label for="description">Description</label>
    <app-input-field
      id="description"
      placeholder="Enter the description"
      formControlName="description"
      [error]="getFormControlErrors('description')">
    </app-input-field>
    <label for="categoryParent">Parent Category</label>
    <app-input-field
      id="categoryParent"
      placeholder="Enter the parent category"
      formControlName="categoryParent"
      [error]="getFormControlErrors('categoryParent')">
    </app-input-field>
    <label for="categoryChild">Child Category</label>
    <app-input-field
      id="categoryChild"
      placeholder="Enter the child category"
      formControlName="categoryChild"
      [error]="getFormControlErrors('categoryChild')">
    </app-input-field>
    <label for="amount">Amount</label>
    <app-input-field
      id="amount"
      placeholder="Enter the amount"
      formControlName="amount"
      [error]="getFormControlErrors('amount')">
    </app-input-field>
    <label for="transactionType">Transaction Type</label>
    <app-input-field
      id="transactionType"
      placeholder="Enter your transaction type"
      formControlName="transactionType"
      [error]="getFormControlErrors('transactionType')">
    </app-input-field>
    <label for="note">Note</label>
    <app-input-field
      id="note"
      placeholder="Enter your note"
      formControlName="note"
      [error]="getFormControlErrors('note')">
    </app-input-field>
    <hr>
    <app-button
      [disabled]="!transactionForm.valid"
      text="Submit"
      submit="true">
    </app-button>
  </div>
</form>
